<footer  id="footer" class="footer-site" style="border:1px solid red">
    <div class="container">
        <div class="row">
            <div class="ool-sm-3">
                {{ content.field_logo }}
            </div>
            <div class="ool-sm-3">
                <div class="row">
                    <div class="col">
                        <div class="footer-social social-links">
                            {{ content.field_reseaux_sociaux }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="footer-menu footer-menu--1">
                            {{ content.field_liens }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="ool-sm-3">
                <div class="footer-menu footer-menu--2">
                    {{ content.field_liens_du_centre }}
                </div>
            </div>
            <div class="ool-sm-3">
                <div class="footer-menu footer-menu--3">
                    {{ content.field_lien }}
                </div>
            </div>
        </div>
    </div>
</footer>